/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET CSS*/
/*CALIBRAGE PX/REM*/
html {
    font-size: 62.5%;
}

/*FIN CALIBRAGE PX/REM*/
:root {
    /* TODO VARIABLES */
    /* https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d80032 */
    --main-color: #FFFFFF;
    --secondary-color: grey;
    --accent-color: #000000 ;

    --invalid-border: rgb(255, 0, 0);
    --invalid-bg: rgba(128, 0, 0, 0.25);

    --valid-border: green;
    --valid-bg: rgba(0, 128, 0, 0.25);
}
html {
    font-size: 1rem;

    color: var(--accent-color);
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    font-family: Calibri ,sans-serif;

    background-color: var(--main-color);
}


/* Forms */
form {
    border: var(--accent-color) solid 2px;
    border-radius: 1.5rem;

    display: flex;
    flex-flow: column wrap;

    align-items: center;
    width: fit-content;
    padding: 2rem;
    margin: 2rem;

    background-color: var(--main-color);
}

form div {
    display: flex;
    /*flex-flow: column wrap;*/

    align-items: center;

    padding: .5rem;

    font-size: 1rem;

}

form div label {
    font-size: 1.5rem;
}

form div input  {
    border-radius: 1rem;

    padding: .25rem;
    margin:  .25rem;

    font-size: 1.25rem;
}

form div .text-input {
    border-color: green;
    background-color: rgba(0, 128, 0, 0.25);
}

form div .text-input:invalid {
    border-color: rgb(255, 0, 0);
    background-color: rgba(128, 0, 0, 0.25);
}

form input[type='submit'] {
    cursor: pointer
}

/* Menus */
/*Main*/
nav {
    margin: 1rem;
}

nav ul li a {
    font-size: large;
    text-decoration: none;
    color: var(--accent-color);

    margin: 1rem;

    border-bottom: 2px solid black;
    border-radius: .5rem;
    transition-property: border-bottom-color, color;
    transition-duration: .15s;
}

nav ul li a:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.message {
    background-color: rgba(0, 0, 128, 0.25);
    border: #000080 2px solid;
    border-radius: .75rem;

    padding: .5rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.25);
    border: #800000 2px solid;
    border-radius: .75rem;

    padding: .5rem;
}

/*Account Management*/
.account_management a i{
    color: var(--accent-color);
    font-size: 2rem;
}

.account_management a i:hover{
    color: var(--secondary-color);
}

/* General */

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

strong {
    font-weight: bold;
}