/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*FIN RESET CSS*/
/*CALIBRAGE PX/REM*/
html {
    font-size: 62.5%;
}

/*FIN CALIBRAGE PX/REM*/
:root {*
    /* https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d80032 */
    --main-color: #FFFFFF;
    --secondary-color: grey;
    --accent-color: #000000;

    --invalid-border: rgb(255, 0, 0);
    --invalid-bg: rgba(128, 0, 0, 0.25);

    --valid-border: green;
    --valid-bg: rgba(0, 128, 0, 0.25);
}

html {
    font-size: 1rem;

    color: var(--accent-color);
}

body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    font-family: Calibri, sans-serif;

    background-color: var(--main-color);
}

/* General */

a {
    color: var(--accent-color);
    font-weight: bold;

    transition-property: border-bottom-color, color;
    transition-duration: .15s;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.credits {
    color: var(--secondary-color);
    font-style: italic;
}

.credits a {
    color: var(--secondary-color);
    text-decoration: underline;
}

.container {
    display: flex;
    flex-flow: column wrap;

    text-align: center;
    align-items: center;

    width: 80%;
}

li .admin a i {
    font-size: 1rem;
}

a i {
    transition-property: border-bottom-color, color;
    transition-duration: .15s;
}

a:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.profile {
    padding: 1rem;
}

.comments-list li {
    text-align: left;
}
/* Forms */
form {
    border: var(--accent-color) solid 2px;
    border-radius: 1.5rem;

    display: flex;
    flex-flow: column wrap;

    align-items: center;
    width: fit-content;
    padding: 2rem;
    margin: 2rem;

    background-color: var(--main-color);
}

form div {
    display: flex;
    flex-flow: column wrap;

    align-items: center;

    padding: .5rem;

    font-size: 1rem;
}

form div label {
    font-size: 1.5rem;
}

form div input {
    border-radius: 1rem;

    padding: .25rem;
    margin: .25rem;

    font-size: 1.25rem;
}

form div .text-input {
    border-color: green;
    background-color: rgba(0, 128, 0, 0.25);
}

form div .text-input:invalid {
    border-color: rgb(255, 0, 0);
    background-color: rgba(128, 0, 0, 0.25);
}

form input[type='submit'] {
    cursor: pointer
}

/* Menus */
/*navigation Menu*/
.navigation-menu {
    border-bottom: black 1px solid;
    width: 100%;
}

.navigation-menu nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    margin: 1rem;
}

.navigation-menu nav a {
    display: block;

    font-size: large;
    text-decoration: none;

    margin: 1rem;

    border-bottom: 2px solid black;
    border-radius: .5rem;
}


.message {
    background-color: rgba(0, 0, 128, 0.25);
    border: #000080 2px solid;
    border-radius: .75rem;

    padding: .5rem;
}

.error {
    background-color: rgba(255, 0, 0, 0.25);
    border: #800000 2px solid;
    border-radius: .75rem;

    padding: .5rem;
}

/* Admin */
.admin a i {
    font-size: 2rem;
}

.admin a i:hover {
    color: var(--secondary-color);
}


/* Recipe */
.recipe {
    padding: 2rem;
}

/* Comment Section */
.comment-section {
    display: flex;
    flex-flow: column;

    align-items: center;

    /*border: var(--accent-color) solid 2px;*/
    border-radius: .75rem;
    margin: 1rem;
    width: 80%
}

.comment-section ul {
    list-style-type: none;

}

.comment {
    border-radius: .75rem;

    padding: 1rem 0;
    width: 100%;
}

.comment:nth-child(even) {
    background-color: lightblue;
}

/* recipes section */
.recipes-section {
    display: flex;
    flex-flow: column;

    align-items: center;

    border: var(--accent-color) solid 2px;
    border-radius: .75rem;
    margin: 1rem;

    width: 80%;
}

.recipes-section ul {
    list-style-type: none;
}

.recipe {
    border-radius: .75rem;

    padding: 1rem 0;

    width: 100%;
}

.recipe:nth-child(even) {
    background-color: lightblue;
}

